html {
  background-image: url(img/background.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 10px;
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.inp {
  width: 600px;
  height: 25px;

  color: rgb(0, 175, 0);
}

span {
  color: rgb(0, 175, 0);
}
